@font-face {
    font-family: airport;
    src: url(../font/Airport.ttf);
}
@font-face {
    font-family: some;
    src: url(../font/OKScU8ig.ttf);
}

body{
    margin:0;
    padding:0;
    background: linear-gradient(to right,#ffef62,#ffc343);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div{
    box-sizing: border-box;
}

.header{
    display: flex;
}

.hi{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #f18100, 2px 2px 3px #ff9a02;
    font-family: some;
}

.colorimg{
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50px;
}

.container{
    display: flex;
    flex-grow: 1;
}

.menu{
    font-family: some;
    font-size: 30px;
    color: black;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.content{
    box-shadow: 1px 2px 3px black;
    border: 5px solid #fa7e19;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px 5px 5px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

.news{
    font-style: italic;
    font-family: airport;
    font-size: 18px;
}

footer{
    height: 300px;
    font-style: italic;
}